/******************Sticky Footer************/
  /* Wrapper for page content to push down footer */
 #wrap {
   min-height: 100%;
   height: auto !important;
   height: 100%;
   /* Negative indent footer by it's height */
   margin: 0 auto -70px;
 }
 
 .footer {
   background-color: #1b1b1b;
   background-image: -moz-linear-gradient(top, #222222, #111111);
   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
   background-image: -webkit-linear-gradient(top, #222222, #111111);
   background-image: -o-linear-gradient(top, #222222, #111111);
   background-image: linear-gradient(to bottom, #222222, #111111);
   background-repeat: repeat-x;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
   border-color: #252525;    
   padding: 10px 0px 0px 0px;
   text-align: center;   
 }

 /******************Sticky Footer************/

 .landing-page-p {
 	font-size: 40px;
    padding: 20px;
 }
 /******************Utils************/
 .separator {
 	border-bottom: solid #eee 1px;
 	margin-bottom : 20px;
 	margin-top : 20px;	 
 }
 /******************Utils************/
 
 
 /******************Semillero List************/
 .semillero {
 	border-bottom: solid #eee 1px;	 	
 	margin-bottom : 10px;
 	margin-top : 40px; 	
 	padding-bottom: 30px;
 }
 
 .semillero-image {
 	float : left;
 	width : 230px; 	
 }
 
 .semillero-image img {
 	height: 150px;
 }
 
 .semillero-description .btn{
 	margin-top : 16px; 
 }
 /******************Semillero List************/
 
 /******************Semillero View************/ 
.semillero-description-container{
 	width: 600px; 
 }
 
 .semillero-description-container p{
 	text-align:justify;
	text-justify:auto;
 }
 
 .semillero-social-container{ 	
 	margin-top: 60px;
    padding-left: 20px;
    width: 300px;
 }  

.semillero-info-box{
	border: solid #eee 1px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 10px;
}
 /******************Semillero View************/


 /******************Custom Prime Faces************/
.ui-widget, .ui-widget .ui-widget {
	font-size: 75% !important;
}

.ui-growl {   
    position:fixed;
    top: 10%;
    left: 70%;
    width: 360px;
    height: 110px;
    z-index:9999; 
}

.ui-growl-item-container {
    background-color: #FAA732;
}
/******************Custom Prime Faces************/

.ui-widget-content{
	border: 0px !important;	
}
 